body {
  margin: 0;
  background-color: #16171c;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

table {
  max-width: 375px;
  width: 100%;
  margin: auto;
  color: #ffffff;
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.004em;
}

table td:nth-child(1) {
  width: 35%;
  padding: 0 0 0 17px;
}

table td:nth-child(2) {
  text-align: right;
  width: 33%;
}

table td:nth-child(3) {
  text-align: right;
  width: 32%;
  padding: 0 15px 0 0;
}

table td {
  padding: 8px 0;
}

.rows:nth-child(odd) {
  background-color: #1e1f26;
}

.rows:nth-child(even) {
  background-color: #16171c;
}
