body {
  margin: 0;
  background-color: #16171c;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

.rows:nth-child(odd) {
  background-color: #1e1f26;
}

.rows:nth-child(even) {
  background-color: #16171c;
}

ul {
  color: #ffffff;
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.004em;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 8px 15px 8px 17px;
}

ul li {
  list-style-type: none;
}
